.nav-item {
  margin-left: 2rem;
  color: black;
}
.linkList{
    margin-left: 9rem;
}

.footer-links a{
  text:muted;
  color: #6b7280;
  text-decoration: none;
  display: inline-block;
  margin: 0.3rem;
}

.footer-links a:hover {
  color: #387ed1;
}

.footer-links p{
  
  font-weight: bold;
}

.social-icons a{
 color: #708090;
 font-size: large;
 margin-left: 10px;
}

.paraContainer {
  color: #2e353d;
  text-align: justify;
  padding: 2rem;
 margin: 2rem 5rem 0rem 5rem;
}